@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 800;
	src: url("/../fonts/gilroy/Gilroyextrabold.ttf") format("truetype");
}
@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
	src: url("/../fonts/gilroy/Gilroylight.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
	src: url("/../fonts/gilroyextrabold.woff2") format("woff2");
}
@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
    src: url("/../fonts/gilroyextrabold.woff") format("woff");
}
body 
{
	margin: 0;
	padding: 0;
	
	font-family: "OpenSans" ,"Gilroy", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

a  {
	text-decoration: none;
}

p {
	font-family: "OpenSans" ,"Gilroy", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 15px;
	letter-spacing: 1px;
	color: #464646;
}

.navigation_item {
	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 1px;
	color: #000000;
}

.site_navigation {

	font-family: "Gilroy" , "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 3px;
	color: #000000;
	text-transform: uppercase;
}

.about_item {
	font-family: "Gilroy" , "Arial", sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	color: #000000;
}
.about {
	font-family: "Gilroy" , "Arial", sans-serif;
	font-size: 47px;
	font-weight: 800;
	line-height: 47px;
	letter-spacing: 1px;
	color: #000000;

}

.title_catalog {
	font-family: "Gilroy" , "Arial", sans-serif;
	font-size: 47px;
	font-weight: 800;
	line-height: 47px;
	letter-spacing: 1px;
	color: #000000;
}

.footer_navigation {
	font-family: "OpenSans" , "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 15px;
	letter-spacing: 1px;
	color: rgba(255, 255, 255, 0.7);
}

.footer_navigation_item {
	font-family: "Gilroy" , "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 18px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #ffffff;

}

.main_header {
    background-color: rgb(240, 197, 46, 0.5);
}

.catalog_header {
	background-color: rgb(240, 197, 46, 0.5);
}

.popular-item {
	
	background-color: rgb(240, 197, 46, 0.5);
}

.slider_service {
	background-color: #e5e5e5;
}

.footer_menu {
	background-color: #464646;
}
