@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
	src: url("../fonts/gilroy/gilroyextrabold.woff2") format("woff2"),
	     url("../fonts/gilroy/gilroyextrabold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
    src: url("../fonts/gilroy/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroy/gilroylight.woff") format("woff");
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding: 0;
}

a  {
	text-decoration: none;
	color: inherit;
}

.navigation_item {
	color: #000000;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 1px;
}

.site_navigation {
    color: #000000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3px;
}

.about_item {
	color: #000000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 16px;
}

.about {
	font-family: "Gilroy", "Arial", sans-serif;
	color: #000000;
	font-size: 47px;
	font-weight: 800;
	line-height: 47px;
	letter-spacing: 1px;
}

.title_catalog {
	font-family: "Gilroy", "Arial", sans-serif;
	color: #000000;
	font-size: 47px;
	font-weight: 800;
	line-height: 47px;
	letter-spacing: 1px;
}

.footer_navigation {
	font-family: "Open Sans", "Arial", sans-serif;
	color: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	font-weight: 300;
	line-height: 15px;
	letter-spacing: 1px;
}

.footer_navigation_item {
	font-family: "Gilroy", "Arial", sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 18px;
	font-weight: 800;
	line-height: 18px;
	letter-spacing: 4px;
}

.main_header {
    background-color: rgba(240, 197, 46, 0.5);
}

.catalog_header {
	background-color: rgba(240, 197, 46, 0.5);
}

.popular-item {
	
	background-color: rgba(240, 197, 46, 0.5);
}

.slider_service {
	background-color: #e5e5e5;
}
.button_delivery {
    background-color: #000000;
}
.footer_menu {
	background-color: #464646;
}
