@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/gilroy/gilroyextrabold.woff2") format("woff2"),
	url("../fonts/gilroy/gilroyextrabold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/gilroy/gilroylight.woff2") format("woff2"),
	url("../fonts/gilroy/gilroylight.woff") format("woff");
}

body {
	background-color: #ffffff;
	color: #000000;
	margin: 0;
	padding: 0;
}

a  {
	text-decoration: none;
	color: inherit;
}

.filter_title {
	color: #000000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
}

.button {
	color: #000000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 4px;
}

.header {
	background-color: rgba(240, 197, 46, 0.5);
}

.navigation_item {
	color: #000000;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 1px;
}

.navigation_item:hover {
	color: rgba(0, 0, 0, 0.6);
}

.navigation_item:focus {
	color: rgba(0, 0, 0, 0.3);
}

.site_navigation {
	color: #000000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3px;
}

.site_navigation:hover:not(.hover_list) {
	color: rgba(0, 0, 0, 0.6); 
}

.site_navigation:focus:not(.hover_list) {
	color: rgba(0, 0, 0, 0.3); 
}

.hover_list .hover_virtual {
	color: #000000;
	text-transform: none;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 1px;
}

.hover_list .hover_virtual:hover {
	color: rgba(0, 0, 0, 0.6);
}

.hover_list .hover_virtual:focus {
	color: rgba(0, 0, 0, 0.3);
}

.catalog_item {
	color: #000000;
	text-transform: none;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 1px;
}

.popular-item {
	background-color: rgba(240, 197, 46, 0.5);
}

.slider_service {
	background-color: #e5e5e5;
}

.button_delivery {
	background-color: #000000;
}

.about {
	color: #000000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 1px;
}

.about_title {
	color: #464646;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
}

.about_item {
	color: #000000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 40px;
}

.section_title {
	color: #000000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 1px;
}

.button_logout {
	color: rgba(0, 0, 0, 0.3);
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 1px;
}

.title_catalog {
	color: #000000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
}

.title_item_catalog {
	color: #000000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
}

.price_catalog {
	color: #464646;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}

.breadcrumbs_item {
	color: rgba(0, 0, 0, 0.3);
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
}

.button::before {
	content: "";
	background-color: #f0c52e;
}

.navigation_item_login::before {
	object-fit: contain;
}

input[name="search"]::placeholder {
	color: rgba(0, 0, 0, 0.3);
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 1px;
}

input[name="search"]:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 1px;
}

input[name="search"]:focus::placeholder {
	color: #000000;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 1px;
	border-bottom: 4px solid blue;
}

.filter >h3 {
	color: #000000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3px;
}

.search_btn {
	display: none;
	background: transparent;
	border: 2px solid #000000;
	border-radius: none;
	color: #000000;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 15px;
	min-height: 49px;
}

.search_input:valid ~ .search_btn:hover {
	background-color: #000000;
	color: #ffffff;
}

.search_input:valid ~ .search_btn:focus {
	background-color: #000000;
	color: rgba(255, 255, 255, 0.3);
}

.search_input:valid ~ .search_btn {
	display: inline-block;
	color: #000000;
}

.search_input:focus {
	border-bottom: 2px solid #000000;
}

.filter_input ~ .filter_label { /*стили для текста в фильтре*/
	color: #000000;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 14px;
}

.filter_input:disabled + .filter_label {
	color: #a6a6a6;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 14px;
}

.filter_input:checked ~ .filter_label { /*стили для текста в фильтре*/
	color: #000000;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 14px;
}

/*.filter_input ~ .filter_label::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 background-image: url("");
 background-repeat: no-repeat;
 background-size: cover;
 cursor: pointer;
 /*transition: all 0.15s ease-in-out; /*плавная смена фон картинки*/
}

.social_icon {
	object-fit: contain;
	opacity: 0.3;
}

.social_icon:hover .social_icon {
	opacity: 0.6;
}

.social_icon:focus .social_icon {
	opacity: 0.1;
}

.footer {
	background-color: #464646;
	color: #ffffff;
}

.footer_navigation {
	color: rgba(255, 255, 255, 0.7);
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 1px;
}

.footer_navigation:hover {
	color: #ffffff;
}

.footer_navigation:focus {
	color: rgba(255, 255, 255, 0.3);
}

.footer_navigation_list  li {
	color: #ffffff;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3px;
}

.footer_navigation_list li:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer_navigation_list li:focus {
	color: rgba(255, 255, 255, 0.3);
}

.address , .number_phone {
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
    font-size: 15px;
    line-height: 15px;
}